In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\lariw\Documents\ENS410064\dados nitrato.csv')

In [2]:
print(df.head())

        date  NO3-N_ugL_YRZ  NO3-N_ugL_YHZ
0   2011/9/7         28.818            NaN
1   2011/9/8         26.125            NaN
2   2011/9/9        282.926            NaN
3  2011/9/10        268.334            NaN
4  2011/9/11        301.786            NaN

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3038 entries, 0 to 3037
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3038 non-null   object
 1   NO3-N_ugL_YRZ  2368 non-null   float64
 2   NO3-N_ugL_YHZ  2131 non-null   float64
dtypes: float64(2), object(1)
memory usage: 71.3+ KB
None

In [4]:
print(df.describe())

       NO3-N_ugL_YRZ  NO3-N_ugL_YHZ
count    2368.000000     2131.00000
mean      706.226719     2113.26582
std       544.534909     1431.33319
min         5.355000        0.17600
25%       374.077750      808.08750
50%       596.708000     1804.22900
75%       960.710000     3256.17900
max      7630.067000     5862.82000

In [5]:
coluna = df['NO3-N_ugL_YRZ']

In [6]:
filtro = df[df['NO3-N_ugL_YRZ'] > 300.000]

In [17]:
import numpy as np
import matplotlib.pyplot as plt
date = NO3-N_ugL_YRZ

fig, ax = plt.subplots(3)
ax[0].plot(date)
ax[1].plot(date[:,0])
ax[2].plot(date[:,1])

print(type(date))

NameError: name 'NO3' is not defined