In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\lariw\Documents\ENS410064\dados nitrato.csv')
df

            date  NO3-N_ugL_YRZ  NO3-N_ugL_YHZ
0       2011/9/7         28.818            NaN
1       2011/9/8         26.125            NaN
2       2011/9/9        282.926            NaN
3      2011/9/10        268.334            NaN
4      2011/9/11        301.786            NaN
...          ...            ...            ...
3033  2019/12/27       1283.315            NaN
3034  2019/12/28       1284.405            NaN
3035  2019/12/29       1284.323            NaN
3036  2019/12/30       1252.285            NaN
3037  2019/12/31       1222.104            NaN

[3038 rows x 3 columns]

In [4]:
# Mostrando primeiras linhas das colunas
print(df.head())

        date  NO3-N_ugL_YRZ  NO3-N_ugL_YHZ
0   2011/9/7         28.818            NaN
1   2011/9/8         26.125            NaN
2   2011/9/9        282.926            NaN
3  2011/9/10        268.334            NaN
4  2011/9/11        301.786            NaN

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3038 entries, 0 to 3037
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3038 non-null   object
 1   NO3-N_ugL_YRZ  2368 non-null   float64
 2   NO3-N_ugL_YHZ  2131 non-null   float64
dtypes: float64(2), object(1)
memory usage: 71.3+ KB
None

In [6]:
print(df.describe())

       NO3-N_ugL_YRZ  NO3-N_ugL_YHZ
count    2368.000000     2131.00000
mean      706.226719     2113.26582
std       544.534909     1431.33319
min         5.355000        0.17600
25%       374.077750      808.08750
50%       596.708000     1804.22900
75%       960.710000     3256.17900
max      7630.067000     5862.82000

In [4]:
df['date'] = df['date'].apply(lambda x: str(x).replace("/","-"))
df['date']

0         2011-9-7
1         2011-9-8
2         2011-9-9
3        2011-9-10
4        2011-9-11
           ...
3033    2019-12-27
3034    2019-12-28
3035    2019-12-29
3036    2019-12-30
3037    2019-12-31
Name: date, Length: 3038, dtype: object

In [3]:
df['date'] = df['date'].apply(lambda x: str(x).replace("/","-"))
df['date']

0         2011-9-7
1         2011-9-8
2         2011-9-9
3        2011-9-10
4        2011-9-11
           ...
3033    2019-12-27
3034    2019-12-28
3035    2019-12-29
3036    2019-12-30
3037    2019-12-31
Name: date, Length: 3038, dtype: object

In [5]:
tstamp = pd.to_datetime(df['date'])